*{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a, label{
    font-family: "IBM Plex Serif", serif;
}

body{
    display: flex;
    flex-flow: row nowrap;
}

hr {
    border: 0;
    height: 1px;
    width: 80%;
    background: white;  /* Color de la línea */
    margin: 10px 0;    /* Espacio arriba y abajo de la línea */
}

.bg-darkblue{
    background-color: #021430;
}

.bg-lightblue{
    background-color: #D8E6FE;
}

.disable{
    display: none;
}

/* Página index */
#pg-index{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
}

#pg-index .contenedor-imagen{
    height: 100%;
    width: 50%;
    display: grid;
    place-content: center;
}

#pg-index .contenedor-imagen img{
    width: 70%;
    height: auto;
    margin: auto;
}

#pg-index .contenedor-contenido{
    height: 100%;
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#contenedor-login{
    height: 50%;
    width: 70%;
}

#contenedor-login .contenedor-botones{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#contenedor-login .contenedor-mensajes{
    margin-top: 20px;
    color: #A3000B;
    font-weight: bold;
}

/* Pagina home */

#pg-home{
    width: 85vw;
    min-height: 100vh;
}

#pg-home h1{
    margin: 15px;
}

/* Pagina justificar */

#pg-justificar{
    width: 85vw;
    min-height: 100vh;
    padding: 0 10px;
}

#pg-justificar h1{
    margin: 15px;
}

/* Pagina configuracion de una cuenta */ 

#pg-conf-cuenta{
    width: 90vw;
}

/* Pagina nuevo usuario */

#pg-new-user{
    width: 90vw;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-content: center;
}

#pg-new-user h1{
    margin-bottom: 20px;
}

#form-new-user{
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-content: center;
}

#form-new-user #step-1{
    margin-bottom: 20px;
}

#form-new-user #step-2{
    margin-bottom: 10px;
}

#form-new-user #step-2 div{
    margin-bottom: 5px;
}

#form-new-user #step-3{
    margin-bottom: 20px;
}

/* Menu lateral */

#menu-lateral{
    min-height: 100vh;
    height: auto;
    width: 15vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

#menu-lateral img{
    width: 70%;
}

#menu-lateral nav{
    width: 70%;
}

#menu-lateral nav ul{
    padding: 0;
    width: 100%;
}

#menu-lateral nav ol li{
    width: 100%;
}

#menu-lateral  a{
    color: white;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.sidebar-logo {
    width: 75%;
    max-width: 300px; 
    margin: 0 auto; 
    display: block;
}

.sidebar-logo {
    width: 75%;
    max-width: 300px; 
    margin: 0 auto; 
    display: block;
}