{% extends "aula_virtual/utilidades/base.html" %}
{% load static %}

{% block content %}
{% include 'aula_virtual/utilidades/menu-lateral.html' %}
  <div class="container mt-4">
    <h1>{{ asignatura.nombre }}</h1>
    {% if es_profesor %}
      <a href="{% url 'subir_material' asignatura.id %}" class="btn btn-success mb-3">Subir Material</a>
    {% endif %}
    <div>
      <ul class="nav nav-underline">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Material</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'calificaciones_asignatura' asignatura.id %}">Calificaciones</a>
        </li>
    </div>
    
    <h2>Material de la Asignatura</h2>
    <div class="row">
      {% for material in materiales %}
        <div class="col-md-4 mb-4">
          <div class="card h-100"> <!-- Añade la clase h-100 para hacer que todas las cards tengan la misma altura -->
            <div class="card-body">
              <h5 class="card-title">{{ material.titulo }}</h5>
              <p class="card-text">{{ material.descripcion }}</p>
              <a href="{% url 'descargar_material' material.id %}" class="btn btn-primary">Descargar</a>
              {% if es_profesor %}
                <a href="{% url 'editar_material' material.id %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'borrar_material' material.id %}" class="btn btn-danger">Borrar</a>
              {% endif %}
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %} <!-- Divide las cards en filas de 3 -->
          </div><div class="row">
        {% endif %}
      {% endfor %}
    </div>
{% endblock %}