{% extends "aula_virtual/utilidades/base.html" %}
{% load static %}

{% block content %}
{% include 'aula_virtual/utilidades/menu-lateral.html' %}
<main id="pg-new-user" class="bg-lightblue">
    <h1>Gestor de usuarios</h1>
    <div>
        <form method="post" id="form-new-user">
            {% csrf_token %}
            <div id="step-1">
                <label for="username-registro" >Rut:</label>
                <input type="text" name="username-registro" id="in-username-registro" {% if username_registro %} value="{{ username_registro }}" {% endif %}>
                <button type="button" id="next-btn">Siguiente</button>
            </div>
            
            <div id="step-2" class="disable">
                <div>
                    <label for="email-registro">Correo: </label>
                    <input type="email" name="email-registro" id="in-email-registro">
                </div>
                <div id="box-check-group">
                    <h5>Tipo de usuario</h5>
                    <div>
                        <input type="checkbox" name="isProfesor-registro" id="check-is-profesor">
                        <label for="isProfesor-registro">Profesor</label>
                    </div>
                    <div>
                        <input type="checkbox" name="isAlumno-registro" id="check-is-alumno">
                        <label for="isAlumno-registro">Alumno</label> 
                    </div>
                    <div>
                        <input type="checkbox" name="isApoderado-registro" id="check-is-apoderado">
                        <label for="isApoderado-registro">Apoderado</label>
                    </div>
                </div>
                
            </div>
            
            <div id="step-3" class="disable">
                <select name="tutor-asociado" id="select-tutor-asociado">
                    <option value="None">Seleccione el tutor</option>
                </select>
            </div>
            <div id="box-btns-registro" class="disable">
                <button type="button" id="back-btn">Volver</button>
                <button type="submit" id="send-btn"></button>
            </div>
            
        </form>
    </div>
</main>
<script src="{% static 'aula_virtual/js/main-nuevo-usuario.js' %}"></script>
{% endblock %}
